.card-barsup{
	background-color: saddlebrown;
	color: saddlebrown;
	padding-top: 2px;
	padding-bottom: 2px; 
}
.card-bordesup{
	background-color: saddlebrown;
	color: saddlebrown;
	margin-top: 0px;
}
.card-breadc{
	background-color: gainsboro;
	margin-bottom: 55px;
}
.card-breadcr{
	background-color: gainsboro;
}
.card-tituloprincipal {
	background-color: white;
	color: saddlebrown;
	margin-bottom: 0px;
	padding-top: 120px;
}
.card-a{
	color: saddlebrown;
	flex: 1 200px;
	padding: 2px 10px 2px 10px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px; 
}
.card-menu{
	flex: 1 400px;
	padding: 5px 5px 5px 5px;
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 50px; 
	color: goldenrod;
	background-color: saddlebrown;
}
.btn-cardb{
	width: 100%;
	border-color: saddlebrown;
	color: goldenrod;

}
.card-b{
	color: saddlebrown;
}
.card-icon{
	padding-right: 10px; 
}
.card-bordeinf{
	background-color: saddlebrown;
	padding-top: 25px;
	padding-bottom: 20px;
}
footer{
	padding: 10px 10px 0 10px;
	background-color: ;
	margin-bottom: 0px;
	margin-top: 10px; 
}
.card-breadcrum{
	margin-top: 80px;
	margin-bottom: 20px;
}
.card-text{
	color: saddlebrown;
}
.card-badg{
	margin-left: 5px;
	color: saddlebrown;
}
.card-badg1{
	background-color: saddlebrown;
	color: white;
	margin-left: 5px;
}
.card-bton{
	margin-top: 15px;
	padding: 5px 40px 0px 40px;
}
.card-table{
	margin-top: 10px;
}
.card-espn{
	margin: 3px 3px 3px 3px
}